$logoColor: #ffe91b;

// #background-video{
//     background: url('./assets/stars-background.mp4');
//     background-size: cover;
//     background-repeat: repeat;
//     position: absolute;
//     z-index: -1;
//     top: 0px;
//     left: 0px;
//     min-width: 100vw;
//     min-height: 100vh;
// }

.App{
  padding-top: 120px;
  background: url('./assets/stars-background-image.jpg');
  background-size: 100%;
}

#movies-list, #characters-list{
  min-height: 85vh;
}

.dark-overlay{
  background-color: black;
  opacity: 0.8;
}

// Navbar

.navbar{

  background-color: black;
  opacity: 0.8;
  border-bottom: 2px white solid;
  font-size: 20px;
  
  .navbar-toggler{
    border: 1px solid white;
  }

  .logo{
    max-height: 70px;
  }

  .dropdown-menu{
    background:black;
  }

  .dropdown-item{
    color: white;
  }

  .dropdown-item:hover{
    background-color: $logoColor;
    color: black;
  }
}

//Movies List

#movies-list{
  img{
    max-height: 500px;
  }
}

//Characters list of the movie details page

#characters-list{

  position: relative;
  z-index: 0;

  .table thead{
    background-color: white;
    color: black;
  }

  .table-hover tbody tr:hover {
    background-color: $logoColor;
    color: black;
  }

  .gender-list{
    position: fixed;
    background: white;
    z-index: 1;

    .list-item{
      display:block;
    }

    .list-item:hover{
      background: $logoColor;
      color: black;
    }
  }
}

//Pagination 



footer{
  background-color: black;
  opacity: 0.8;
}

